* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  background: radial-gradient(125% 125% at 50% 10%, #ede2e9 40%, #7c3aed 100%);
  height: 2000px;
}

#header .nav-login {
  height: 46px;
  background-color: #00b348;
  line-height: 46px;
}
#header .nav-login li {
  display: inline-block;
  float: right;
  padding: 0px 8px;
  margin-right: 5px;
}
#header .nav-login li a:hover {
  color: #03451d;
}
#header #hotline {
  float: left;
  margin-left: 10px;
  color: white;
}

#header {
  background-color: rgb(17, 81, 57);
}
#header li a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}
.nav li {
  position: relative;
}
.nav > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.nav > ul > li {
  /* padding: 8px; */
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  padding: 0 25px;
}

.nav li:hover {
  background-color: #367e56;
}
nav > .navcon > ul > li {
  color: aliceblue;
}

.navcon {
  position: absolute;
  background-color: #333;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  /* margin-top: 6px; */
  min-height: 35px;
  display: none;
  padding: 0px 10px 0px 10px;
}
.navcon ul li a {
  display: block;
  width: 100%;
}
.shownav .navcon li:hover {
  background-color: #03451d;
  display: block;
}
.shownav ul li {
  text-decoration: none;
  list-style: none;
}

#header ul li:hover > .navcon {
  display: block;
}

/* slider */
#slider {
  width: 100%;
  height: 618px;
  background-size: 100%;
  background: url("./img/hinh2.jpg") no-repeat;
}
/* content */

#content {
  height: 100px;
  background-color: #00b348;
  color: white;
}
#content .text-paner {
  margin-left: 600px;
}

#content .content-item {
  display: inline-block;
  margin-left: 200px;
  margin-top: 8px;
}

/* Container */
#container-adm > h1 {
  color: white;
  /* background-color: #54787f; */
  padding: 4px 0px 4px 9px;
}
#container-adm > .box-tong {
  display: block;
  display: flex;
}
.box-show {
  height: 100px;
  width: 400px;
  padding: 20px;
  margin: 15px;
  background: linear-gradient(135deg, #a18cd1, #6f86d6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.title-text {
  color: rgb(249, 250, 251);
  font-size: 40x;
  margin-top: -11px;
}
.text-number {
  color: white;
  justify-content: center;
  font-size: 50px;
}

/* COURSE BOX */
#course {
  min-height: 400px;
  /* background-color: black; */
}
#course .course-content {
  margin-top: 20px;
  display: flex;
  margin: 10px;
  margin-left: 45px;
  flex-wrap: wrap;
  justify-content: center;
}
#course .course-box {
  height: 270px;
  width: 450px;
  background-color: #333;
  border-radius: 0.75rem;
  margin-right: 18px;
  margin-top: 15px;
}
#course .img img {
  height: 130px;
  width: 100%;
  border-radius: 0.75rem;
}
#course .img:hover {
  transform: scale(1.01);
}
#course .course-text {
  color: rgb(238, 97, 2);
  margin-left: 5px;
  font-size: 25px;
  font-weight: bold;
}
#course .date {
  display: flex;
  border-bottom: #aaa solid 0.5px;
  color: #aaa;
  font-size: 13px;
  padding-left: 8px;
}
#course .date div {
  margin: 4px;
}
#course .teacher {
  display: flex;
}
#course .name {
  color: rgb(30, 175, 83);
  margin-top: 5px;
  margin-left: 8px;
}
#course .price {
  float: right;
  color: rgb(223, 14, 14);
  background-color: #aaa;

  border-radius: 0.25rem;
  padding: 4px 8px;
  margin-left: 130px;
  margin-top: 5px;
}
#course .button {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
#course .button a {
  text-decoration: none;
  list-style: none;
  color: white;
}
#course .button-dk,
.button-them {
  border-radius: 0.75rem;
  background-color: #c3370d;
  width: 100px;
  height: 35px;
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  padding-top: 7px;
}
#course .button-them {
  padding: 8px 0px;
  background-color: none;
  border: white solid 0.5x;
}
#course .button-them:hover {
  transform: scale(1.05);
}
#course .button-dk:hover {
  transform: scale(1.05);
}
#course .header-text {
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1a98d2;
  padding: 10px;
}
#course .header-textnho {
  text-align: center;
  color: rgb(37, 131, 171);
  font-size: 20px;
  margin-top: 8px;
}
#course .xemthem {
  border-radius: 0.75rem;
  background-color: #117287;
  color: white;
  width: 100px;
  height: 35px;
  margin: 0 auto;
  border: none;
}
#course .xemthem:hover {
  transform: scale(1.01);
}

/* CSS CHO LOGIN */
#login {
  background-color: #c9d5fd;
  min-height: 750px;
  position: relative;
}
#login .login-main {
  position: absolute;
  top: 50%; /* đẩy xuống 50% chiều cao */
  left: 50%;
  transform: translate(-50%, -50%); /* kéo ngược lại đúng giữa */
}
#login .h1 {
  color: white;
  font-size: 50px;
  margin-top: 60px;
}
#login .no-tk a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 12px;
}
#login .no-tk a:hover {
  color: black;
}
#login .login-container {
  width: 670px;
  height: 450px;
  background-color: white;
  border-radius: 0.75rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
}
#login .login-group {
}
#login .header-text {
  width: 300px;
  height: 450px;
  background-color: #6590f8;
  border-radius: 0.75rem 1.5rem 1.5rem 0.75rem;
}
#login .btn-register {
  background-color: #1a98d2;
  border: white solid 1px;
  color: white;
  padding: 5px 20px;
  border-radius: 0.25rem;
  margin-top: 25px;
}
#login .btn-register:hover {
  transform: scale(1.05);
}
#login .login-login {
  width: 300px;
  top: 90px;
}
#login .header-login {
  width: 150px;
  display: inline-block;
}

#login .login-header {
  font-weight: bold;
  font-size: 30px;
  margin: 40px;
  margin-left: 100px;
}
#login .form-group input {
  border-radius: 0.75rem;
  margin: 8px;
  background-color: #c9d5fd;
  border: none;
  padding: 12px 60px;
  margin-left: 45px;
}
#login .form-group input {
  color: black;
}
#login .login-group {
  margin-left: 60px;
}
#login .forgot-pass a {
  list-style: none;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}
#login .forgot-pass a:hover {
  color: #6590f8;
}
#login .login-group {
  margin-top: 40px;

  display: inline-block;
}
#login .btn-login button {
  background-color: #6590f8;
  padding: 8px 80px;
  border: none;
  border-radius: 0.75rem;
  margin: 8px;
}
#login .btn-login:hover {
  transform: scale(1.05);
}
