* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#header .nav-login {
  height: 46px;
  background-color: #00b348;
  line-height: 46px;
}
#header .nav-login li {
  display: inline-block;
  float: right;
  padding: 0px 8px;
  margin-right: 5px;
}
#header .nav-login li a:hover {
  color: #03451d;
}
#header #hotline {
  float: left;
  margin-left: 10px;
  color: white;
}

#header {
  background-color: rgb(17, 81, 57);
}
#header li a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}
.nav li {
  position: relative;
}
.nav > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.nav > ul > li {
  /* padding: 8px; */
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  padding: 0 25px;
}

.nav li:hover {
  background-color: #367e56;
}
nav > .navcon > ul > li {
  color: aliceblue;
}

.navcon {
  position: absolute;
  background-color: #333;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  /* margin-top: 6px; */
  min-height: 35px;
  display: none;
  padding: 0px 10px 0px 10px;
}
.navcon ul li a {
  display: block;
  width: 100%;
}
.shownav .navcon li:hover {
  background-color: #03451d;
  display: block;
}
.shownav ul li {
  text-decoration: none;
  list-style: none;
}

#header ul li:hover > .navcon {
  display: block;
}

/* slider */
#slider {
  width: 100%;
  height: 618px;
  background-size: 100%;
  background: url("./img/hinh2.jpg") no-repeat;
}
/* content */

#content {
  height: 100px;
  background-color: #00b348;
  color: white;
}
#content .content-siler {
  align-items: center;
}
#content .content-item {
  display: inline-block;
}

/* Container */
#container-adm > h1 {
  color: white;
  background-color: #54787f;
  padding: 4px 0px 4px 9px;
}
#container-adm > .box-tong {
  display: block;
  display: flex;
}
.box-show {
  height: 100px;
  width: 400px;
  padding: 20px;
  margin: 15px;
  background: linear-gradient(135deg, #a18cd1, #6f86d6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.title-text {
  color: rgb(249, 250, 251);
  font-size: 40x;
  margin-top: -11px;
}
.text-number {
  color: white;
  justify-content: center;
  font-size: 50px;
}
