* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#main {
  background: radial-gradient(125% 125% at 50% 10%, #ede2e9 40%, #7c3aed 100%);
  height: 2000px;
}

#header .nav-login {
  height: 46px;
  background-color: #00b348;
  line-height: 46px;
}
#header .nav-login li {
  display: inline-block;
  float: right;
  padding: 0px 8px;
  margin-right: 5px;
}
#header .nav-login li a:hover {
  color: #03451d;
}
#header #hotline {
  float: left;
  margin-left: 10px;
  color: white;
}

#header {
  background-color: rgb(17, 81, 57);
}
#header li a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}
.nav li {
  position: relative;
}
.nav > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.nav > ul > li {
  /* padding: 8px; */
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  padding: 0 25px;
}

.nav li:hover {
  background-color: #367e56;
}
nav > .navcon > ul > li {
  color: aliceblue;
}

.navcon {
  position: absolute;
  background-color: #333;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  /* margin-top: 6px; */
  min-height: 35px;
  display: none;
  padding: 0px 10px 0px 10px;
}
.navcon ul li a {
  display: block;
  width: 100%;
}
.shownav .navcon li:hover {
  background-color: #03451d;
  display: block;
}
.shownav ul li {
  text-decoration: none;
  list-style: none;
}

#header ul li:hover > .navcon {
  display: block;
}

/* slider */
#slider {
  width: 100%;
  height: 618px;
  background-size: 100%;
  background: url("./img/hinh2.jpg") no-repeat;
}
/* content */

#content {
  height: 100px;
  background-color: #00b348;
  color: white;
}
#content .text-paner {
  margin-left: 600px;
}

#content .content-item {
  display: inline-block;
  margin-left: 200px;
  margin-top: 8px;
}

/* Container */
#container-adm > h1 {
  color: white;
  /* background-color: #54787f; */
  padding: 4px 0px 4px 9px;
}
#container-adm > .box-tong {
  display: block;
  display: flex;
}
.box-show {
  height: 100px;
  width: 400px;
  padding: 20px;
  margin: 15px;
  background: linear-gradient(135deg, #a18cd1, #6f86d6);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
.title-text {
  color: rgb(249, 250, 251);
  font-size: 40x;
  margin-top: -11px;
}
.text-number {
  color: white;
  justify-content: center;
  font-size: 50px;
}

/* COURSE BOX */
#course {
  min-height: 400px;
  /* background-color: black; */
}
#course .course-content {
  margin-top: 20px;
  display: flex;
  margin: 10px;
  margin-left: 45px;
  flex-wrap: wrap;
  justify-content: center;
}
#course .course-box {
  height: 270px;
  width: 450px;
  background-color: #333;
  border-radius: 0.75rem;
  margin-right: 18px;
  margin-top: 15px;
}
#course .img img {
  height: 130px;
  width: 100%;
  border-radius: 0.75rem;
}
#course .img:hover {
  transform: scale(1.01);
}
#course .course-text {
  color: rgb(238, 97, 2);
  margin-left: 5px;
  font-size: 25px;
  font-weight: bold;
}
#course .date {
  display: flex;
  border-bottom: #aaa solid 0.5px;
  color: #aaa;
  font-size: 13px;
  padding-left: 8px;
}
#course .date div {
  margin: 4px;
}
#course .teacher {
  display: flex;
}
#course .name {
  color: rgb(30, 175, 83);
  margin-top: 5px;
  margin-left: 8px;
}
#course .price {
  float: right;
  color: rgb(223, 14, 14);
  background-color: #aaa;

  border-radius: 0.25rem;
  padding: 4px 8px;
  margin-left: 130px;
  margin-top: 5px;
}
#course .button {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}
#course .button a {
  text-decoration: none;
  list-style: none;
  color: white;
}
#course .button-dk,
.button-them {
  border-radius: 0.75rem;
  background-color: #c3370d;
  width: 100px;
  height: 35px;
  display: inline-block;
  text-align: center;
  margin-right: 40px;
  padding-top: 7px;
}
#course .button-them {
  padding: 8px 0px;
  background-color: none;
  border: white solid 0.5x;
}
#course .button-them:hover {
  transform: scale(1.05);
}
#course .button-dk:hover {
  transform: scale(1.05);
}
#course .header-text {
  font-size: 40px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: #1a98d2;
  padding: 10px;
}
#course .header-textnho {
  text-align: center;
  color: rgb(37, 131, 171);
  font-size: 20px;
  margin-top: 8px;
}
#course .xemthem {
  border-radius: 0.75rem;
  background-color: #117287;
  color: white;
  width: 100px;
  height: 35px;
  margin: 0 auto;
  border: none;
}
#course .xemthem:hover {
  transform: scale(1.01);
}

/* CSS CHO LOGIN */
#login {
  background-color: #c9d5fd;
  min-height: 750px;
  position: relative;
}
#login .login-main {
  position: absolute;
  top: 50%; /* đẩy xuống 50% chiều cao */
  left: 50%;
  transform: translate(-50%, -50%); /* kéo ngược lại đúng giữa */
}
#login .h1 {
  color: white;
  font-size: 50px;
  margin-top: 60px;
}
#login .no-tk a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 12px;
}
#login .no-tk a:hover {
  color: black;
}
#login .login-container {
  width: 670px;
  height: 450px;
  background-color: white;
  border-radius: 0.75rem;
  text-align: center;
  margin: 0 auto;
  display: flex;
}
#login .login-group {
}
#login .header-text {
  width: 300px;
  height: 450px;
  background-color: #6590f8;
  border-radius: 0.75rem 1.5rem 1.5rem 0.75rem;
}
#login .btn-register {
  background-color: #1a98d2;
  border: white solid 1px;
  color: white;
  padding: 5px 20px;
  border-radius: 0.25rem;
  margin-top: 25px;
}
#login .btn-register:hover {
  transform: scale(1.05);
}
#login .login-login {
  width: 300px;
  top: 90px;
}
#login .header-login {
  width: 150px;
  display: inline-block;
}

#login .login-header {
  font-weight: bold;
  font-size: 30px;
  margin: 40px;
  margin-left: 100px;
}
#login .form-group input {
  border-radius: 0.75rem;
  margin: 8px;
  background-color: #c9d5fd;
  border: none;
  padding: 12px 60px;
  margin-left: 45px;
}
#login .form-group input {
  color: black;
}
#login .login-group {
  margin-left: 60px;
}
#login .forgot-pass a {
  list-style: none;
  text-decoration: none;
  color: #333;
  font-size: 15px;
}
#login .forgot-pass a:hover {
  color: #6590f8;
}
#login .login-group {
  margin-top: 40px;

  display: inline-block;
}
#login .btn-login button {
  background-color: #6590f8;
  padding: 8px 80px;
  border: none;
  border-radius: 0.75rem;
  margin: 8px;
}
#login .btn-login:hover {
  transform: scale(1.05);
}

/* CSS COURSE ADMIN */
#course-adm {
  min-height: 1000px;
}
#course-adm .container {
  margin-top: 20px;
}
#course-adm .form-input {
  width: 400px;
  height: 350px;

  margin: 0 auto;
  border-radius: 0.75rem;
  margin-bottom: 35;
}
#course-adm .text {
  color: black;
  font-size: 30px;
  text-align: center;
}
#course-adm .input-group input,
textarea {
  /* background-color: #c9d5fd; */
  padding: 10px 40px;
  border-radius: 0.25rem;
  margin: 8px 0px 8px 70px;
}

#course-adm button {
  background-color: #6590f8;
  padding: 8px 78px;
  border: none;
  border-radius: 0.25rem;
  margin: 8px;
  margin-left: 70px;
  color: white;
}

#course-adm .danhsach {
  width: 80%;
  margin: 30px auto;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

#course-adm .table-main {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  border-radius: 8px;
  overflow: hidden;
  color: white;
}

#course-adm .header,
.content {
  display: grid;
  grid-template-columns: 60px 200px 150px 120px 120px 100px;
  padding: 10px;
  align-items: center;
}

#course-adm .header {
  background-color: #0859c3;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

#course-adm .content:nth-child(even) {
  background-color: #fafafa;
}

#course-adm .content div {
  padding: 5px;
  color: black;
}

#course-adm .content a {
  text-decoration: none;
  color: #007bff;
}

#course-adm .content a:hover {
  text-decoration: underline;
}
#course-adm label {
  font-size: 12px;
  font-weight: bold; /* chữ đậm hơn cho đẹp */
  color: #333;
  width: 12px;
}
#qr {
  background-color: #c9d5fd;
  min-height: 1200px;
}
#qr .container {
  text-align: center;
}
#qr .text {
  padding: 50px 0px 20px 0px;
  color: rgb(207, 44, 11);
  font-size: 35px;
}
#qr label {
  font-size: 12px;
  margin-right: 200px;
}
#qr input {
  padding: 10px 100px;
  border-radius: 0.5rem;
  background-color: #eff3f6;
}
#qr button {
  margin-top: 8px;
  padding: 10px 20px;
  border-radius: 0.75rem;
  background-color: #007bff;
  color: white;
}
#qr .box-qr {
  background-color: white;
  width: 400px;
  margin: 0 auto;
  border-radius: 0.75rem;
  padding: 10px 10px 30px 10px;
  margin-top: 10px;
}
#qr .box-tt {
  margin-left: 20px;
}

#qr .input-nhap {
  border-radius: 0.25rem;
  width: 300px;
  height: 25px;
  border: 1px solid #d2bdbd;
  margin: 0 auto;
  margin-top: 3px;
  font-size: 13px;
  padding: 6px 0px 0px 6px;
}
#qr .box div {
  font-size: 10px;
  text-align: left;
  margin-left: 10px;
}
#qr .box {
  margin: 5px;
}

/* CSS PRODUCT COURSE                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   */
#product {
  position: relative;
}
#product .header-login {
  height: 40px;
  background-color: #d61a1a;
  position: fixed;
  right: 0;
  left: 0;
}
#product .nav-login {
  padding-top: 10px;
  display: flex;
  float: right;
  margin-right: 15px;
}
#product .nav-login a {
  text-decoration: none;
  list-style: none;
  color: white;
}
#product .nav-dk,
.nav-dn {
  width: 90px;
  height: 22px;
  border-radius: 0.75rem;
}
#product .nav-dk a {
  color: #ffffff;

  margin-right: 5px;
}
#product .nav-login a:hover {
  color: #e9dd05;
}
#product .dk {
  width: 400px;
  height: 550px;

  text-align: center;

  position: absolute;
  right: 80px;
  top: 140px;
}

#product .dk a {
  list-style: none;
  text-decoration: none;
  color: white;
}
#product .btn-dk {
  border-radius: 0.75rem;
  width: 150px;
  height: 25px;
  background-color: #007bff;
  margin: 0 auto;
  padding-top: 4px;
  margin-top: 15px;
  margin-bottom: 20px;
}
#product .btn-dk:hover {
  transform: scale(1.02);
}
#product .img {
  border-radius: 1.5rem;
}
#product .img img {
  width: 400px;
  border-radius: 1.5rem;
}
#product .free {
  color: #d7490d;
  font-size: 35px;
  margin-top: 15px;
}
#product .gioithieu {
  margin-left: 14vh;
}
#product .thoiluong {
  text-align: left;
  margin: 8px 0px 5px 125px;
  margin-top: 10px;
  line-height: 1.6;
  font-size: 16px;
  color: #000c;
}
#product .thoiluong span {
  font-weight: 750;
}
#product .container {
  padding: 50px;
  width: 800px;
  margin-left: 40px;
}
#product .header-text {
  font-size: 35px;
  font-weight: bold;
  padding-top: 20px;
}
#product .content {
  display: block;
  margin-top: 10px;
  line-height: 1.6;
  font-size: 16px;
  color: #000c;
}
#product .text-h4 {
  font-weight: bold;
  font-size: 20px;
}
#product .date {
  display: flex;
}
#product .thoiluong {
  font-size: 15px;
  margin-left: 8px;
  line-height: 1.6;
  font-size: 16px;
  color: #000c;
}
#product .course-list {
  width: 800px;
  margin-top: 20px;
  background-color: #f2f6f9;
  padding: 15px;
  border-radius: 0.75rem;
}
#product .list div {
  width: 700px;
  height: 35px;
  border-bottom: 1px solid #aaa;
  border-radius: 0.5rem;
  justify-content: space-between;
  margin: 10px;
}
#product .nav-tt {
  display: flex;
}
#product .nav-tt a {
  list-style: none;
  text-decoration: none;
  color: #ec460f;
  padding: 5px;
  border-bottom: 1px solid #aaa;
}
#product .xemthem {
  text-align: center;
}
#product .xemthem a {
  text-decoration: none;
  list-style: none;
  color: #007bff;
}
#product .xemthem a:hover {
  color: #03451d;
}
