* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
#header {
  background-color: rgb(0, 0, 0);
}
#header li a {
  text-decoration: none;
  list-style: none;
  color: aliceblue;
}
.nav li {
  position: relative;
}
.nav > ul {
  display: flex;
  text-decoration: none;
  list-style: none;
}
.nav > ul > li {
  /* padding: 8px; */
  color: antiquewhite;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 35px;
  padding: 0 25px;
}

.nav li:hover {
  background-color: #333;
}
nav > .navcon > ul > li {
  color: aliceblue;
}
.navcon {
  position: absolute;
  background-color: rgb(253, 253, 253);
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.3);
  /* margin-top: 6px; */
  min-height: 35px;
  display: none;
  padding: 0px 10px 0px 10px;
}
.navcon ul li a {
  display: block;
}
.shownav ul li {
  text-decoration: none;
  list-style: none;
  display: block;
}

.navcon li a {
  line-height: 38px;
}
#header ul li:hover > .navcon {
  display: block;
}
